:root {
  --vs-theme-bg: #f4f7f8;
  /* --vs-primary: 140, 195, 101 */
}
[vs-theme=dark] {
  --vs-theme-bg: #18191c;
  --vs-theme-color: #fff;
}

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Black.ttf);
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: var(--vs-theme-bg);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}


html {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.vs-card-content {
  min-height: 300px;
}

.vs-card-content.type-4 .vs-card__img img {
  transform: scale(.6);
}

.vs-card-content.type-4 .vs-card:hover .vs-card__img img {
  transform: scale(.8);
}